*.pkl
*.csv
*.CSV
*.txt
!requirements.txt
*.xlsx
*.parquet
*.cfg
*.pxd

/text-mining/*.parquet
/text-mining/*.pkl
__pycache__
/Lib
/share
/Scripts
/.vscode
/etc
/include
/Include
/src
/Py-DS-ML-Bootcamp-master
/Py-DS-ML-Bootcamp-master.zip
/pyvenv.cfg
/Pipfile.lock
/Pipfile
/web_scraping/data_export
/web_scraping/.ipynb_checkpoints
/web_scraping/__pycache__
/web_scraping/Dateien
/text-mining/2023-05-22_gesamtdaten_bis_2022 
/text-mining/.ipynb_checkpoints
/text-mining/etc
/text-mining/Include
/text-mining/Lib
/text-mining/Scripts
/text-mining/share
/text-mining/.env

